.results {
  display: flex;
  align-items: center;
  text-align: start;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow: hidden;
}

.text {
  font-size: 1.5rem;
  width: max-content;
  display: inline-block;
}

.value {
  font-size: 1.2em;
}

.value.success {
  color: green;
}

.value.fail {
  color: red;
}

.save-button {
  margin-top: 12px;
}

.skeleton {
  margin-bottom: 12px;
}
