.container {
  padding: 15px 0;
}

.message {
  margin-top: 8px;
}

.label {
  position: relative;
}

.label-text {
  display: inline-block;
  position: absolute;
  margin-bottom: 4px;
  left: .75rem;
  top: -1.25rem;
  font-size: 12px;
  color: #6b7280;
}
