.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px 10px;
}

.footer {
  margin-top: 20px;
  padding-bottom: 10px;
}
