.container {
  display: flex;
  padding: 40px 15px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
}
